@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/previos';
@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/button';
@import 'blocks/sidebar';
@import 'blocks/hamburger';
@import 'blocks/name';
@import 'blocks/messange';
@import 'blocks/level';
@import 'blocks/technologi';
@import 'blocks/interest';
@import 'blocks/portfolio';
@import 'blocks/prizes';
@import 'blocks/contacts';

@import 'blocks/media';


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.show{
    display: block;
}
.hide{
    display: none;
}

html{
    scroll-behavior: smooth;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

.divider{
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}



input, textarea{
    outline: none;
}
::-webkit-scrollbar {
    width: 0;
}
html{
    scroll-behavior: smooth;
}


.topScroll{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #474343;
    position: fixed;
    bottom: 30px;
    right: -100%;
    z-index: 10;
    transition: 0.3s;
    &.active{
        right: 30px;
    }
    a{
        background: url('../icons/arrowsScrollTop/up-arrrows.png') center (center / cover) no-repeat;
        width: 45px;
        height: 40px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
    }
   
}
