@media (max-width: 1439px){
    .sidebar{
        display: none;
    }
    .contacts{
        &__img{
            img{
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .level{
        &__wrapper{
            padding: 40px 20px 0 20px;
            column-gap: 80px;
        }
    }
    .name{
        &__wrapper{
            grid-template-columns: 400px 520px;
            column-gap: 50px;
        }
        &__skills{
            column-gap: 20px;
            grid-template: repeat(2,minmax(115, auto))/repeat(2,250px);
            &-item{
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .technologi{
        &__wrapper{
            justify-content: center;
        }
        .interest{
            &__wrapper{
                justify-content: center;
            }
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizonal, .vertical{
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .prizes{
        &__item{
            width: 380px;
        }
        &__wrapper{
            padding-top: 30px;
            justify-content: space-around;
        }
    }
    .contacts{
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}
@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .title{
        &_fz36{
            font-size: 30px;
        }
    }
    
    .technologi{
        &__wrapper{
            justify-content: space-between;
        }
        &__item{
            margin-top: 30px;
            width: 340px;
            min-height: 230px;
        }
        .interest{
            &__items{
                width: 330px;
            }
            &__wrapper{
                justify-content: space-between;
                margin-top: 50px;
            }
        }
    }
    .level{
        &__wrapper{
            column-gap: 60px;
            grid-template-columns: repeat(2, 320px);
        }
    }
    
    .name{
        &__wrapper{
            grid-template-columns: 300px 380px;
            &__img{
                img{
                    height: 600px;
                }
            }
        }
       
        &__skills{
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item{
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .prizes{
        &__item{
            width: 310px;
            margin-top: 35px;
            font-size: 12px;
            &-title{
                font-size: 12px;
            }
        }
        &__wrapper{
            column-gap: 0;
            row-gap: 0;
        }
        &__descr{
            font-size: 10px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,340px);
            gap: 40px;
        }
        &__btn {
            padding: 8px 25px;
        }
        &__img{
            display: none;
        }
    }
}  
@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .technologi{
        &__wrapper{
            margin-top: 10px;
        }
        &__item{
            width: 250px;
            padding: 30px 20px 20px 20px;
        }
        .interest{
            &__wrapper{
                justify-content: center;
            }
            &__items{
                width: 470px;
            }
            &__scale{
                width: 470px;
            }
        }  
        &__items{
            margin-top: 60px;
        }
    }
    .title{
        &_fz48{
            font-size: 30px;
            line-height: 50px;
        }
    }
    .promo{
        &__title{
            width: 300px;
            line-height: 39px;
        }
    }
    .name{
        padding-top: 40px;
        &_title{
            margin-top: 20px;
        }
        &__wrapper{
            grid-template: 340px auto auto / 1fr;
          
        }
        &__skills{
            grid-template-columns: repeat(2, 260px);
            row-gap: 30px;
            margin-top: 15px;
            &-item{
                grid-template-columns: 40px 445px;
                column-gap: 20px;
            }
        }
    }
    .level{
        padding-top: 40px;
        &__wrapper{
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
    }
    .portfolio{
        padding-top: 40px;
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 490px);
        }
    }
    .prizes{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            margin-top: 35px;
            width: 80%;
        }
        &__descr{
            font-size: 12px;
        }
    }
    .contacts {
        padding-top: 40px;
        &__img {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}
@media (max-width: 576px){
    .container{
        max-width: 460px;
        padding: 0 10px;
    }
    .title{
        &_fz48{
            font-size: 28px;
            line-height: 50px;
        }
        &_fz36{
            font-size: 24px;
        }
    }
    .hamburger{
        right: 20px;
    }
    .menu{
        &__block{
            width: 270px;
        }
        &__social{
            bottom: 20px;
        } 
    }
    .name{
        &__wrapper{
            grid-template: 340px auto auto / 100%;
        }
        &__skills{
            grid-template-columns: 1fr;
            &-item{
                grid-template-columns: 40px 380px;
            }
        }
        &__img{
            height: 430px;
        }
    }
    .level{
        &__wrapper{
            padding: 40px 5px 0 5px;
        }
        &__column{
            &-location{
                font-size: 12px;
            }
        }
    }
    .technologi{
        &__subtitle{
            font-size: 22px;
        }
        &__wrapper{
            justify-content: center;
        }
        &__item{
            width: 320px;
        }
        .interest{
            &__items{
                    width: 410px;
            }
            &__scale{
                width: 410px;
            }
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 410px);
        }
    }
    .prizes{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__sale{
            font-size: 12px;
        }
        &__item{
            width: 350px;
            margin-top: 35px;
            &-title{
                font-size: 12px;
            } 
        }
    }
    .contacts{
        &__img{
            display: none;
        }

        &__form{
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea{
            grid-column: unset;
            width: 100%;
        }
        &__triggers{
            grid-column: unset;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn{
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy{
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}
@media (max-width: 480px){
    .container{
        max-width: 380px;
        padding: 0;
    }
    .name{
        &__skills{
            &-item{
                grid-template-columns: 40px 301px;
            }
        }
    }
    .technologi{
        &__item{
            width: 320px;
        }
        .interest{
            &__items{
                    width: 340px;
            }
            &__scale{
                width: 340px;
            }
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 360px);
        }
    }
    .prizes{
        &__wrapper{
            padding-top: 0;
        }
        &__item{
            width: 320px;
        }
        &__text{
            width: 340px;
        }
    }
    .contacts{
        &__form{
            grid-template: 45px 45px 190px minmax(45px,auto) / 1fr;
        }
        &__textarea{
            grid-column: unset;
            width: 100%;
        }
        &__triggers{
           display: flex;
           flex-direction: column;
        }
        &__btn{
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy{
            width: 300px;
        }
    }
}
@media (max-width: 400px){
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .menu{
        &__block{
            width: 230px;
        }
        &__link{
            a{
                font-size: 20px;
            }
        }
    }
    .hamburger{
        width: 45px;
        height: 35px;
        top: 10px;
        right: 10px;
    }
    .name{
        &__text{
            font-size: 14px;
            line-height: 18px;
        }
        &__skills{
            &-item{
                grid-template-columns: 25px 255px;
            }
            &-text{
                font-size: 12px;
            }
            &-circle{
                padding: 10px 0 0 10px;
                &::before{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &__wrapper{
            grid-template: 340px auto auto / 100%;
        }
    }
    .level{
        padding-top: 0;
        &__title{
            font-size: 14px;
            &::before{
                width: 30px;
                height: 30px;
                top: -5px;
            }
        }
        &__item{
            &-body{
                font-size: 12px;
            }
            &-icon{
                &::before{
                    width: 30px;
                    height: 30px;
                }
                img{
                    top: 10px;
                    left: 11px;
                }
            }
            &-head{
                padding: 45px 0 0 90px;
            }
        }
        .divider{
            margin: 15px auto 0 auto;
        }
    }
    .technologi{
        &__title{
            font-size: 14px;
            &::before{
                width: 30px;
                height: 30px;
                top: -3px;
            }
        }
        &__item{
            width: 285px;
        }
        .interest{
            &_title-before{
                font-size: 12px;
                &::before{
                    width: 30px;
                    height: 30px;
                }
            }
            &__prozent{
                font-size: 12px;
            }
            &__items{
                width: 290px;
            }
            &__scale{
                width: 290px;
                margin-top: 15px;
            }
        }
    }
    .portfolio{
        &__title{
            font-size: 14px;
            &::before{
                width: 30px;
                height: 30px;
                top: -5px;
            }
        }
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    .prizes{
        &__title{
            font-size: 14px;
            &::before{
                width: 30px;
                height: 30px;
                top: -5px;
            }
        }
        &__text{
            width: 270px;
        }
        &__item{
            width: 255px;
        }
    }
    .contacts{
        &__title{
            font-size: 14px;
            &::before{
                width: 30px;
                height: 30px;
                top: -5px;
            }
        }
        &__btn{
            &:hover{
                transform: scale(1);
            }
        }
        &__input{
            &:hover{
                transform: scale(1);
            }
        }
        &__textarea{
            &:hover{
                transform: scale(1);
            }
        }
    }
}
