
.promo{
    min-height: 100vh;
    background: url("../img/photo_me.jpg") no-repeat 00%/cover;
    position: relative;
    padding-top: 206px;
    &__btns{
        margin-top: 25px;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    &__title{
        color: #fff;
    }
    &__subtitle{
        position: relative;
        padding-left: 10px;
        color: #fff;
        z-index: 2;
        @include before_circle;
    }
    
    &__link{
        font-style: bold;
        font-weight: 700;
        font-size: 15px;
        color: #fff;
        line-height: 21px;
        text-align: center;
        
        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }


   
}


